<h1><a title="Portada tienda" href="{{ shop.url }}">{{ shop.name }}</a></h1>

<div id="searchform">
    <form action="/search" method="get">
    <input type="text" name="q" value="{{ 'titles.search' | t }}:" onfocus="if(this.value=='{{ 'titles.search' | t }}:')this.value='';" onblur="if(this.value=='')this.value='{{ 'titles.search' | t }}:';"/>
    </form>
</div>

<ul>
    {% for link in menus.main.links %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor%}
</ul>
